html,
body {
    width: 100%;
}

body {
    background-color: #333;
}

.search,
.type,
.menu {
    position: fixed;
    z-index: 1;
}

.search {
    height: 60px;
    width: 100%;
    background: #333;
}

.searchbar {
    width: 30%;
    height: 50%;
    margin: auto;
    border-radius: 7px 0 0 7px;
    position: absolute;
    left: 420px;
    top: 15px;
    border: solid #a1a0a0;
}

#searchicon {
    position: absolute;
    left: 1001px;
    top: 16px;
    height: 23px;
    width: 40px;
    border-width: 2px 2px 2px 0;
    border-color: #a1a0a0;
    border-style: solid;
    border-radius: 0 7px 7px 0;
    text-align: center;
    padding-top: 10px;
    background-color: gray;
}

#searchicon:hover {
    cursor: pointer;
}

#logo {
    position: absolute;
    left: 75px;
    top: 11px;
}

#menuicon {
    position: absolute;
    font-size: 28px;
    left: 25px;
    top: 15px;
    text-align: center;
    color: white;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 50%;
    line-height: 40px;

}

#menuicon:hover {
    /* width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 37px; */
    background-color: #a1a0a0;
    cursor: pointer;
}

#recordicon {
    position: absolute;
    font-size: 20px;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: #262525;
    text-align: center;
    left: 1047px;
    top: 17px;
}

#recordicon:hover {
    background-color: #a1a0a0;
    cursor: pointer;
}

#videoicon {
    position: absolute;
    font-size: 20px;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: #262525;
    text-align: center;
    left: 1350px;
    top: 16px;
}

#videoicon:hover {
    background-color: #a1a0a0;
    cursor: pointer;
}

#notificationicon {
    position: absolute;
    font-size: 20px;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: #262525;
    text-align: center;
    left: 1390px;
    top: 16px;
}

#notificationicon:hover {
    background-color: #a1a0a0;
    cursor: pointer;
}

.menu {
    width: 190px;
    height: calc(100vh - 60px);
    background: #333;
    top: 60px;
    overflow-Y: auto;
}

.menu ul {
    text-align: center;
    color: white;
}

.menu li {
    line-height: 40px;
    display: block;
    padding-right: 1.5rem;
}

.menu li:hover {
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.menu h2 {
    line-height: 50px;
}

.menu i {
    margin: 15px;
}

.type {
    width: calc(100% - 190px);
    height: 50px;
    background: #333;
    top: 60px;
    left: 190px;
}

.type li {
    margin: 7px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 30px;
    float: left;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

.type li:hover {
    background-color: #a1a0a0;
    cursor: pointer;
}

.type ul:nth-child(1) {
    margin-left: 170px;
}

.type ul {
    border-bottom: 10px;
}

.content {
    width: calc(100% - 190px);
    height: calc(100vw - 110px);
    background: #333;
    position: relative;
    top: 110px;
    left: 190px;
}

.content p {
    text-align: left;
    width: 275px;
    color: white;
    padding: 6px;
}

.a {
    float: left;
    margin-left: 30px;
    height: 240px;
}